.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
* {
  box-sizing: border-box;
}
header {
  padding: 20px;
  padding-bottom: 0px;
  font-size: 18px;
  color: black;
  background-color: white;
  border-bottom: 1px solid #e0ded9;
  display: table;
  width: 100%;
}
header img {
  padding-right: 30px;
  display: table-cell;
  vertical-align: middle;
  float: left;

}
header h1 {
  font-family: 'Bebas Neue', cursive;
  color: #F5BA5E;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  display: table-cell;
  vertical-align: middle;
  float: left;
  padding-top: 10px;
}
.bannerHead {
  float: right;
}
.bannerName {
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  color:#605954;
}
.bannerHours {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #605954;
  font-size: 15px;
}
.bannerChange{
  font-size: 8px;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  color: #605954;
  font-size: 15px;
  cursor: pointer;
}

div.rsc-ts-bot:nth-child(17) div.rsc-ts-bubble {
padding: 8px;
border-radius: 18px;
margin: 0;
max-width: 94%;
margin-bottom: 20px;
}

.summary tr {
padding-bottom: 10px;
}

svg.bi-arrow-right {
  margin-top: 0.9rem;
}
.progress {
  height: 1.5rem;
}
.container {
  max-width: 65%;
  margin-left: 20rem;
}
.nav a{
  font-family: 'Bebas Neue', cursive;
  color: #F5BA5E;
  font-weight: 400;
  font-size: 24px;
}
.nav a:hover{
  color: #000;
}
.pizza-bgImg {
max-width: 100%;
height: auto;
}