/** { padding: 0 !important;*/
/*  margin: 0 !important;*/
/*}*/

html,body { height:100% !important;
}

#root {
  height: 100%;
}
.sliceBot {
  height: 90% !important;
  /*height: auto;*/
}
.menuSummary h2 {
  font-size: 40px;
  font-family: 'Bebas Neue', cursive;
  color: #605954;
  margin: 30px 0;
}

.menuSummary h3 {
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  color: #605954;
  padding-top: 10px;
}

.menuSummary p {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #605954;
}
.displayArea {
  width: 75%;
  float: left;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
}

.leftPanel {
  float: left;
  width: 40%;
}

.rightPanel {
  float: left;
  margin-left: 100px;
  width: 40%;
}
.chatBot {
  float: right;  
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.menuItem {
  display: block;
}
.menuItem p {
  display: inline-block;
  font-size: 16px;
}
.allergyInfo {
  width: 40px;
  padding-left: 10px;
  display: inline-block;
}

.pizza-bgImg {
  object-fit: cover;
  height: 100% !important;
}

.bgImage-container {
  height: 100% !important;
}


