.rsc .rsc-cs{
  background: #f5f5f5;
  font-family: 'Montserrat';
  border-radius: 0px;
  box-shadow: none;
  display: block;
  padding: 0px;
  padding-bottom: 16px;
}

.rsc-container {
  height: 800px !important;
  width: 700px !important;

}

.rsc-content {
  height: 680px !important;
}

.rsc .rsc-cs .orderStep{
  /*root node for all custom components*/
  text-align: left;
  display: block;
}
.rsc .rsc-cs .stepMessage{
  /*message node for bot message*/
  background: #DD841F;
  border-radius: 18px 18px 18px 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
  color: #fff;
  display: inline-block;
  font-size: 14px;
  
  margin: 0 0 10px 0;
  padding: 12px;
}

.rsc .rsc-cs .stepMessage{
  /*message node for bot message*/
  margin-top: 10px;
  margin-bottom: 10px;
}

.rsc .rsc-cs .menuEleList {
  /*root node for menu elements*/
  text-align: left;
  float: left;
}

.rsc .rsc-cs .rowElement {
  list-style-type: none !important;
}

.rsc .rsc-cs .simpleMenu{   
  /*list wrapper for simple menu items*/
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin: 0px;
  padding: 0px;  
 }
 .rsc .rsc-cs .simpleMenu li {
  list-style-type: none;
  float:left;
}
.rsc .rsc-cs .multiRowMenu{   
  /*list wrapper for multi row menu items*/
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin: 0px;
  padding: 0px;
  text-align: left;
 }
.rsc .rsc-cs .multiRowMenu li {
  list-style-type: none;
  float:left;
}
.rsc .rsc-cs .menuEleRow{
  /*menu element row wrapper*/
  list-style-type: none;
  display: inline-block;  
  margin: 0px;
  padding: 0px;
  text-align: left;  
} 
.rsc .rsc-cs .rowBtns{
   /*wrapper for button list*/
   list-style-type: none;
   float: left;  
   margin: 0px;
   padding: 0px;
   text-align: left; 
 }
.rsc .rsc-cs .rowTitle{
  /*wrapper for menu row title*/
  display: inline-block;
  font-size: 14px;
  list-style-type: none;
  font-family: 'Bebas Neue', cursive;
  color: #F5BA5E;
  font-weight: 400;
  font-size: 24px;

  width: 100px;
  margin-right: 6px;
  text-align: left;
  /*background-color: #dd841f;*/
  /*color: white;*/
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
 }
.rsc .rsc-cs .btn-item{
  /*menu button list wrapper*/
  display: inline-block;
  border-radius: 15px;
  font-size: 14px;
  width: 75px;
  border:none;
  text-align: center;
  background-color: #dd841f;
  color: white;
  margin-right: 10px;
}

.rsc .rsc-cs .btn-item:visited{
  opacity: 0.7 !important;
  color: green !important;
  background: blue !important;
}

.rsc .rsc-cs .btn-item:hover{
  opacity: 0.7;
}

.rsc .rsc-cs .menuBtn{
  /*standard menu button*/  
  text-align: center;
  background-color: #dd841f;
  color: white;
  border:none;
  border-radius: 15px;
  width: 75px;
  height: 60px;
}

.rsc .rsc-cs .menuBtn:focus{
  /*standard menu button*/
  border:none !important;
  /*background: red !important;*/
  outline: 0 !important;
  /*background:rgb(221, 132, 31) !important;*/
  background: #F5BA5E;
}

.rsc .rsc-cs .btn-hide{
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
}
.rsc .rsc-cs .btn-item{
  /*menu button list wrapper*/
  display: inline-block;
  text-align: center;
  background-color: #dd841f;
  color: white;
  border:none;
  border-radius: 15px;
  width: 75px;
  height: 75px;
  padding: 10px;
}
.rsc .rsc-cs .menuBtn{
  /*menu button list wrapper*/
  text-align: center;
  background-color: #dd841f;
  color: white;
  border:none;
  border-radius: 15px;
  width: 75px;
  height: 60px;
}
.rsc .rsc-cs .halfBtns{
  display: inline-block;
  border-radius: 10px;
  font-size: 0px;
  width: 10px;
  border:none;
  text-align: center;
  background-color: lightslategray;
  color: lightslategray;
  padding: 0px;  
}
.rsc .rsc-cs .btnNavigationArray{
/*root node for all control buttons*/
  list-style-type: none;
  display: block;
  text-align: center;
  margin: 0px;
  padding: 0px;  
}
.rsc .rsc-cs .btnCtrlList{
  /*list for control buttons*/
  list-style-type: none;  
  text-align: center;
  margin: 0px;
  padding: 0px;
  float: left;  
}
.rsc .rsc-cs .btnCtrlList li {
  float: left;
}
.rsc .rsc-cs .btn-ctrl{
  /*standard control button*/ 
  border-radius: 22px;
  margin-top: 2px;
  font-size: 14px;  
  border:none;
  text-align: center;
  background-color: #dd841f;
  color: white;
  padding: 10px;
  cursor: pointer;
}
.rsc .rsc-cs .btn-ctrl:hover{
  opacity: 0.7;
}
.rsc .rsc-cs .btn-warn{
  /*warning buttons*/  
  border-radius: 22px;
  margin-top: 2px;
  font-size: 14px; 
  border:none;
  text-align: center;
  background-color: salmon;
  color: white;
  padding: 10px;
  cursor: pointer;  
}
.rsc .rsc-cs .btn-warn:hover{
  opacity: 0.7;
}
.rsc .rsc-cs .menuOptions {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  padding-inline-start: 0px;
  margin-bottom: 0px;
}
.rsc .rsc-cs .menuOptionName{
  display: inline-block;
  border-radius: 22px 0px 0px 22px;
  font-size: 14px;
  border:none;
  width: 100px;
  margin-right: 6px;
  text-align: center;
  background-color: #dd841f;
  color: white;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rsc .rsc-cs .menuOptionsEle {
  padding: 0px;    
  
  text-align: left;
}
.rsc .rsc-cs .row-item {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.rsc .rsc-cs .menuListOptsEle {
  cursor: pointer;
  margin: 2px;
  display: inline-block;

}
.rsc .rsc-cs .menuListOptsEleNone{
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 2px;
  display: inline-block;
  width: 173px;
}

.rsc .rsc-cs .menuListOptsBtnNone{
  display: inline-block;
  border-radius: 22px;
  font-size: 14px;
  width: 173px;
  border:none;
  text-align: center;
  background-color: #dd841f;
  color: white;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.rsc .rsc-cs .menuHalfOpts{
  display: inline-block;
  padding: 0px;
  margin: 0px;
  border: none;
  padding-inline-start: 0px;
}
.rsc .rsc-cs .halfList{
  list-style-type: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

.rsc .rsc-cs .nextStep {
  display: inline-block;
  border-radius: 22px;
  margin-top: 2px;
  font-size: 14px;
  width: 173px;
  border:none;
  text-align: center;
  background-color: #dd841f;
  color: white;
  padding: 10px;
  cursor: pointer;
  list-style-type: none !important;
}

.rsc .rsc-cs .stepButtons {
  padding-top: 10px;
  list-style-type: none !important;
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
  margin-bottom: 0 !important;
}

.rsc .rsc-cs .stepButtons li {
  list-style-type: none !important;
  background-color: #F5BA5E !important;
  border: none !important;
  text-align: center !important;
  padding: 5px 0;
  border-radius: 2px;
  font-family: 'Bebas Neue', cursive !important;
}

.rsc .rsc-cs .stepButtons li:hover {
  opacity: 0.7;
}

.rsc .rsc-cs .slicebotStepClass {
  margin-bottom: 0 !important;
}

.rsc .rsc-cs .reg {
  list-style-type: none !important;
  background-color: #F5BA5E !important;
  border: none !important;
  color: #605954 !important;
  font-size: 18px;
}


